
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(#E6993D, #FDC38B );
  /* background-color: coral; */
}

.Header__container{
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
}

.Header__links{
  /* background-color: orange; */
  font-size: 15px;
  align-self: flex-start;
  padding-left: .5rem;
  padding-top: .5rem;
  
}

.Header__links--anchor{
  margin: 0 .5rem;
  text-decoration: none;
  color:maroon;
}


.Header__settings{
  align-self: flex-end;
  padding-right: .5rem;
}

.Header__settings--anchor{
  text-decoration: none;
  color:maroon;
}

.Banner_container{
  display: flex;
  flex-direction: column;
}

.Banner_container--image{
  width: 25rem;
  height: 10rem;
  border: 1px solid maroon;
}

.Banner_container--header{
  font-size: 2.5rem;
  margin-bottom: .2rem;
  color: maroon;
}

.Post__form--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.Post__form--button-container {
  display: flex;
}

.Post__form--button {
  font-size: 2rem;
  color: blue;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
  /* border-top: 1px solid maroon; */
}

.Post__form--button-bracket{
  font-size: 2rem;
  color: maroon;
  font-weight: bold;

}

.Post__form--text:hover {
  font-size: 1.5rem;
  color: green;
  /* border-top: 1px solid maroon; */
}

.Post__form--line {
  border-color: maroon;
  height: 1px;
  width: 80%;
  border: 1px solid maroon;
  border-bottom: none;
  margin-bottom: .5rem;
}


.Post__form--form{
  display: grid;
}

.Post__form--form-label {
  border: 1px solid maroon;
  background-color: salmon;
  width:20px;
}

.Post__form__expanded--container {
  width: 100%;
  display:flex;
  justify-content: center; 
}


.Post__form__expanded--form {
  display:grid;
  grid-template-columns: 10rem 16rem 5rem;
  grid-gap: 2px;
  flex-wrap: wrap;
  font-weight: bold;

}

.Post__form__expanded--label {
  color: maroon;
  border:1px solid maroon;
  background-color: #EEAA88;

}

.Post__form__expanded--btn {
}


.Post__form__expanded--area {
  grid-column: 2/-1;
}

.Post__form__expanded--captcha-container {
  grid-column: 2/-1;
}

.Post__form__expanded--captcha-text {
  width: 100%;
  grid-column: 2/-1;
}

.Post__form__expanded--captcha-pass {
  margin:0;
  font-weight: 100;
  font-size: .8rem;
}

.Post__form__expanded--radio {
  font-size: .8rem;
}

.Post__form__expanded--captcha-rules {
  grid-column: 1/-1;
  text-align: left;
  font-size: .8rem;
  padding-top: .2rem;
  color:maroon;
}

.Post__form__expanded--anchor {
  text-decoration: none;
}
/* 

.Test {

}

.Bigbox {
  color: maroon;
  border:1px solid maroon;
  background-color: salmon;
}

.text {

}

.long {
  resize:both;

}

.textArea{
  background-color: red;
  color:blue;
}

.captcha-text {
  margin: 0;
}

.captcha {
  width: 100%;
}

.captcha-box {
  grid-column: 2/-1;
}

.Flex {
  width: 100%;
  display:flex;
  justify-content: center; 
}

.btn {
  margin-left: 5px;
} */