
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(#E6993D, #FDC38B );
  /* background-color: coral; */
}

.Header__container{
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
}

.Header__links{
  /* background-color: orange; */
  font-size: 15px;
  align-self: flex-start;
  padding-left: .5rem;
  padding-top: .5rem;
  
}

.Header__links--anchor{
  margin: 0 .5rem;
  text-decoration: none;
  color:maroon;
}


.Header__settings{
  align-self: flex-end;
  padding-right: .5rem;
}

.Header__settings--anchor{
  text-decoration: none;
  color:maroon;
}

.Banner_container{
  display: flex;
  flex-direction: column;
}

.Banner_container--image{
  width: 25rem;
  height: 10rem;
  border: 1px solid maroon;
}

.Banner_container--header{
  font-size: 2.5rem;
  margin-bottom: .2rem;
  color: maroon;
}

.Post__form--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.Post__form--button-container {
  display: flex;
}

.Post__form--button {
  font-size: 2rem;
  color: blue;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
  /* border-top: 1px solid maroon; */
}

.Post__form--button-bracket{
  font-size: 2rem;
  color: maroon;
  font-weight: bold;

}

.Post__form--text:hover {
  font-size: 1.5rem;
  color: green;
  /* border-top: 1px solid maroon; */
}

.Post__form--line {
  border-color: maroon;
  height: 1px;
  width: 80%;
  border: 1px solid maroon;
  border-bottom: none;
  margin-bottom: .5rem;
}


.Post__form--form{
  display: grid;
}

.Post__form--form-label {
  border: 1px solid maroon;
  background-color: salmon;
  width:20px;
}

.Post__form__expanded--container {
  width: 100%;
  display:flex;
  justify-content: center; 
}


.Post__form__expanded--form {
  display:grid;
  grid-template-columns: 10rem 16rem 5rem;
  grid-gap: 2px;
  flex-wrap: wrap;
  font-weight: bold;

}

.Post__form__expanded--label {
  color: maroon;
  border:1px solid maroon;
  background-color: #EEAA88;

}

.Post__form__expanded--btn {
}


.Post__form__expanded--area {
  grid-column: 2/-1;
}

.Post__form__expanded--captcha-container {
  grid-column: 2/-1;
}

.Post__form__expanded--captcha-text {
  width: 100%;
  grid-column: 2/-1;
}

.Post__form__expanded--captcha-pass {
  margin:0;
  font-weight: 100;
  font-size: .8rem;
}

.Post__form__expanded--radio {
  font-size: .8rem;
}

.Post__form__expanded--captcha-rules {
  grid-column: 1/-1;
  text-align: left;
  font-size: .8rem;
  padding-top: .2rem;
  color:maroon;
}

.Post__form__expanded--anchor {
  text-decoration: none;
}

/* --------------------THREAD CSS--------------------------------- */

.Page__Threads--container {
  display: flex;
  flex-direction: column;
  border : 2px solid ;
  align-items:flex-start;
}

.Thread--container {
  border-top: 3px solid maroon;
  border-bottom: 3px solid maroon;
  margin-top:.5rem;
  margin-bottom:.25rem;
  margin-left: .5rem;
  display:flex;
  flex-direction: column;
  align-items:flex-start;
}

/* -------------------------------THREAD POST CSS ------------------------------------------ */

.Thread__Post {
  display:grid;
  background-color:coral;
  margin-bottom: .5rem;
  grid-template-areas: "meta meta"
    "fileInfo fileInfo"
    "image blockQuote";
  grid-template-rows:max-content max-content max-content;
  grid-template-columns:max-content max-content;
}

.Thread__Post--meta {
  grid-area: meta;
  display: flex;
  font-size: 1.1rem;
  /* justify-content: center; */
}

.Thread__Post--no-file {
  grid-template-areas: "meta meta"
  "fileInfo fileInfo"
  "blockQuote blockQuote";
}

.Thread__Post--message {
  grid-area:blockQuote;
  text-align:left;
  padding: 0 1rem;
  padding-right:2rem;
}


/* -------------------------------THREAD POST OMMITED CSS ------------------------------------------ */

.Thread__Post--Ommited {
  display:flex;
}

.Thread__Post--Ommited--button {
  margin: 0;
}

.Thread__Post--Ommited--text {
  margin:0;
  margin-left:.5rem;
}

.Thread__Post--Ommited--click {
  text-decoration: none;
}